<div class="row">
  <div class="col-sm-6" *ngFor="let petsGroup of petsGroups; let i = index">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse{{i}}">{{petsGroup.gender}}</a>
        </h4>
      </div>
      <div id="collapse{{i}}" class="panel-collapse collapse in">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let pet of petsGroup.pets">{{pet.name}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
